venv
.replit
temp.py
__pycache__
LogiComp/__pycache__
replit.nix
__pycache__/restricoes.cpython-38.pyc
__pycache__/restricoes.cpython-38.pyc
LogiComp/__pycache__/formula.cpython-38.pyc
temp.py
testando.py